{extends file="main.html"}

{block name=header}{/block}

{block name=footer}{/block}
		
{block name=content}

<!-- Wrapper-->
<div id="wrapper">

	<!-- Nav -->
	<nav id="nav" class="navMenu">
		<a href="#" class="icon solid fa-home"><span>Home</span></a>
		<a href="#calculate" class="icon solid fa-calculator"><span>Calculator</span></a>
		{if $user->role == 'admin'}
		<a href="{$conf->action_url}chronionaView" class="icon solid fa-key"><span>Chroniona</span></a>
		{/if}
		<a href="{$conf->action_url}logout" class="icon solid fa-arrow-up"><span>Wyloguj</span></a>
	</nav>
	
	<!-- Main -->
	<div id="main">


		<!-- Meme -->
		<article id="home" class="panel intro">
			<header>
				<h1>Kalkulator odsetek</h1>
				<p>Bartlomiej Niemiec</p>
			</header>
			<a href="https://github.com/Bartolomeo2077" class="jumplink pic">
				<img src="{$conf->app_url}/assets/images/me.jpg" alt="" />
			</a>
		</article>

		<!-- Kalkulator -->
		<article id="calculate" class="panel">
			<header>
				<h2>Twoj Kredyt~</h2>
			</header>
			<form action="{$conf->action_url}calcCompute#calculate" method="post">
				<div>
					<div class="col">
						<div class="col-6 col-12-medium">
							<input type="text" name="Kwota" autocomplete="off" placeholder="Podaj Kwote" value="{$form->Kwota}"/>
						</div>
						<div class="col-6 col-12-medium">
							<input type="text" name="Miesiace" autocomplete="off" placeholder="Podaj Miesiace" value="{$form->Miesiace}"/>
						</div>
						<div class="col-12">
							<input type="text" name="Oprocentowanie" autocomplete="off" placeholder="Podaj Oprocentowanie" value="{$form->Oprocentowanie}"/>
						</div>
						<div class="col-6">
							<input type="submit" value="Oblicz!" />
							{if $user->role == 'admin'}
								<a href="{$conf->app_url}#calculate"><input class="button" type="button" value="Reset"/></a>
							{/if}
						</div>
					</div>
				</div>
			</form>
			<div>
				{include file='messages.html'}
				
				{if isset($res->result)}
					<h2>Wynik:</h2>
					<div>
						{$res->result}
					</div>
				{/if}

			</div>
		</article>
	</div>
</div>


{include file='scripts.html'}

{/block}